* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family: gandur-new, sans-serif;
    font-size: 16px;
    color: #000;
}

body {
    width: 100%;
    min-height: 100vh;
    background-color: #FAFAFA;
    display: flex;
    flex-direction: column;
    align-items: center;
}

p {
    color: var(--Foundation-White-white-500, #3B3B3B);

    /* paragraph */
    font-family: "Nunito Sans";
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 125%; /* 20px */
    letter-spacing: 0.48px;
}

p.overline {
    color: var(--Foundation-White-white-500, #3B3B3B);

    /* overline */
    font-family: "Nunito Sans";
    font-size: 13px;
    font-style: normal;
    font-weight: 700;
    line-height: 125%; /* 11.25px */
    letter-spacing: 0.27px;
}

caption {
    color: var(--Foundation-Black-black-500, #3B3B3B);

    /* caption */
    font-family: "Nunito Sans";
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 125%; /* 15px */
    letter-spacing: 0.36px;
}

h1 {
    color: var(--Foundation-Blue-blue-500, #186BD9);

    /* h1 - Title */
    font-family: "Bebas Neue";
    font-size: 80px;
    font-style: normal;
    font-weight: 400;
    line-height: 125%; /* 100px */
    letter-spacing: 1.6px;
}

h2 {
    color: var(--Foundation-Black-black-500, #0A0A0A);
text-align: center;

    /* h2 - section */
    font-family: "Bebas Neue";
    font-size: 61px;
    font-style: normal;
    font-weight: 400;
    line-height: 125%; /* 76.25px */
    letter-spacing: 1.22px;
}

h3 {
    color: var(--Foundation-Black-black-500, #0A0A0A);

    /* h3 - subtitle */
    font-family: "Bebas Neue";
    font-size: 47px;
    font-style: normal;
    font-weight: 400;
    line-height: 125%; /* 58.75px */
    letter-spacing: 0.94px;
}

h4 {
    color: var(--Foundation-White-white-500, #FAFAFA);
    text-align: center;

    /* h4 - heading */
    font-family: "Bebas Neue";
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    line-height: 125%; /* 45px */
    letter-spacing: 0.72px;
}

h5 {
    color: var(--Foundation-Blue-blue-500, #186BD9);

    /* h5 - subheading */
    font-family: "Bebas Neue";
    font-size: 27px;
    font-style: normal;
    font-weight: 400;
    line-height: 125%; /* 33.75px */
    letter-spacing: 0.54px;
}

h6 {
    color: var(--Foundation-Black-black-500, #0A0A0A);

    /* h6 - categories */
    font-family: "Bebas Neue";
    font-size: 21px;
    font-style: normal;
    font-weight: 400;
    line-height: 125%; /* 26.25px */
    letter-spacing: 0.42px;
}

p.primaryButton {
    color: var(--Foundation-White-white-500, #FAFAFA);
    text-align: center;

    /* paragraph */
    font-family: "Nunito Sans";
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 125%; /* 20px */
    letter-spacing: 0.48px;
}

/* // <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 200 to 1000

.nunito-sans-<uniquifier> {
  font-family: "Nunito Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
    "wdth" 100,
    "YTLC" 500;
}

.bebas-neue-regular {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
} */





/* ---------- Header Starts Here! ---------- */
header {
    display: flex;
    width: 100%;
    padding: 16px 8.33%;
    justify-content: space-between;
    align-items: center;
    background: var(--Foundation-White-white-500, #FAFAFA);
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.10);
}

#logo {
    width: 64px;
    height: 74.148px;
}

.menuWrapper {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 24px;
}

#navCurrent {
    color: #186bd9;
    text-decoration: underline;
    text-underline-offset: 4px;
    text-decoration-thickness: 2px;
    text-decoration-color: #8ebf24;
}

.menuWrapper a {
    color: var(--Foundation-Black-black-500, #0A0A0A);
    text-align: right;
    text-decoration: none;
    text-transform: uppercase;

    /* paragraph */
    font-family: "Nunito Sans", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 125%; /* 20px */
    letter-spacing: 0.48px;
    transition: ease-in-out 40ms;
}

.menuWrapper a:hover {
    color: #8ebf24;
    transform: translateY(-4px);
}

.buyTicketButton {
    display: flex;
    padding: 8px 16px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border-radius: 999px;
    background: var(--Foundation-Blue-blue-500, #186BD9);
}

.buyTicketButton:hover {
    background: #1661C5;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.2); /* Adds a subtle shadow */
}




/* ---------- Main Content Starts Here ---------- */

/* hero section */
.heroSection {
    display: flex;
    height: 480px;
    padding: 88px 8.33% 51px 8.33%;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
    align-self: stretch;
    background: linear-gradient(270deg, rgba(0, 0, 0, 0.00) 15.51%, rgba(0, 0, 0, 0.30) 31.29%), linear-gradient(0deg, rgba(191, 150, 99, 0.40) 0%, rgba(191, 150, 99, 0.40) 100%), url(../img/homeHeroBanner.jpeg) lightgray 50% / cover no-repeat;
    background-blend-mode: normal, color, normal;
}

.heroSection h1, p {
    color: #e4e4e4;
}

/* get involve section */
.getInvolveSection {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    align-self: stretch;
}

.getInvolveSection p {
    color: #e4e4e4;
}

.reserveTicket {
    display: flex;
    padding: 60px 8.33%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 24px;
    flex: 1 0 0;
    align-self: stretch;
    text-align: center;
    background: var(--Foundation-Blue-blue-500, #186BD9);
}


.ctaButtonBlue {
    display: flex;
    padding: 16px 40px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border-radius: 80px;
    background: var(--Foundation-White-white-500, #FAFAFA);
    color: var(--Foundation-Blue-blue-600, #1661C5);

    /* paragraph */
    font-family: "Nunito Sans";
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 125%; /* 20px */
    letter-spacing: 0.48px;
}

.getInvolve {
    display: flex;
    padding: 60px 8.33%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 24px;
    flex: 1 0 0;
    align-self: stretch;
    text-align: center;
    background: var(--Foundation-Green-green-500, #8EBF24);
}

.ctaButtonGreen {
    display: flex;
    padding: 16px 40px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border-radius: 80px;
    background: var(--Foundation-White-white-500, #FAFAFA);
    color: var(--Foundation-Green-green-600, #81AE21);

    /* paragraph */
    font-family: "Nunito Sans";
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 125%; /* 20px */
    letter-spacing: 0.48px;
}

/* event highlight section */
.eventInfoWrapper {
    display: flex;
    width: 40.83%;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
}

.ctaButton {
    display: flex;
    padding: 16px 40px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border-radius: 80px;
    background: var(--Foundation-Blue-blue-500, #186BD9);
    color: var(--Foundation-White-white-500, #FAFAFA);

    /* paragraph */
    font-family: "Nunito Sans";
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 125%; /* 20px */
    letter-spacing: 0.48px;
}

.eventHighlightSection {
    display: flex;
    width: 100%;
    padding: 32px 0px;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    align-self: stretch;
}

.eventCardWrapper {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    align-self: stretch;
}

.eventHighlightCardDay1 {
    display: flex;
    width: 100%;
    align-items: center;
    /* gap: 8px; */
    align-self: stretch;
    background: var(--Foundation-Blue-blue-500, #186BD9);
}

.cardMonthDay1 {
    display: flex;
    width: 21.18%;
    padding: 16px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    gap: 8px;
    align-self: stretch;
    background: var(--Foundation-Blue-blue-500, #186BD9);
    color: var(--Foundation-White-white-500, #FAFAFA);
    text-align: right;
    font-family: "Bebas Neue";
    font-size: 57px;
    font-style: normal;
    font-weight: 400;
    line-height: 125%; /* 71.25px */
    letter-spacing: 1.14px;
}

.bigTextDay1 {
    color: var(--Foundation-Blue-blue-500, #186BD9);
    font-family: "Bebas Neue";
    font-size: 108px;
    font-style: normal;
    font-weight: 400;
    line-height: 125%; /* 135px */
    letter-spacing: 2.16px;
    padding: 0 8px;
    background-color: #FAFAFA;
}

.dayScheduleWrapperDay1 {
    display: flex;
    width: 71.53%;
    padding: 16px;
    align-items: center;
    gap: 16px;
    align-self: stretch;
    background: var(--Foundation-Blue-blue-500, #186BD9);
}

.verticalText {
    transform: rotate(-90deg);
    color: var(--Foundation-White-white-500, #FAFAFA);
    text-align: center;
    font-family: "Bebas Neue";
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    line-height: 125%; /* 45px */
    letter-spacing: 0.72px;
}

.eventName {
    display: flex;
    align-items: flex-start;
    gap: 12px;
}

.eventTime {
    display: flex;
    width: 180px;
    justify-content: right;
    align-items: center;
    gap: 8px;
    color: var(--Foundation-White-white-500, #FAFAFA);
    text-align: right;
    /* paragraph */
    font-family: "Nunito Sans";
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 125%; /* 20px */
    letter-spacing: 0.48px;
}

.eventTitleAndSubtitle {
    display: flex;
    max-width: 60ch;
    flex-direction: column;
    align-items: flex-start;
    gap: 4px;
}

p.eventDescription {
    color: var(--Foundation-White-white-600, #E4E4E4);

    /* caption */
    font-family: "Nunito Sans";
    font-size: 12px;
    font-style: italic;
    font-weight: 400;
    line-height: 125%; /* 15px */
    letter-spacing: 0.36px;
}

.eventHighlightCardDay2 {
    display: flex;
    width: 100%;
    align-items: center;
    /* gap: 8px; */
    align-self: stretch;
    background: var(--Foundation-Green-green-500, #8EBF24);
}

.cardMonthDay2 {
    display: flex;
    width: 24.38%;
    padding: 16px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    gap: 8px;
    align-self: stretch;
    background: var(--Foundation-Green-green-500, #8EBF24);
    align-self: stretch;
    color: var(--Foundation-White-white-500, #FAFAFA);
    text-align: right;
    font-family: "Bebas Neue";
    font-size: 57px;
    font-style: normal;
    font-weight: 400;
    line-height: 125%; /* 71.25px */
    letter-spacing: 1.14px;
}

.bigTextDay2 {
    color: var(--Foundation-Green-green-500, #8EBF24);
    font-family: "Bebas Neue";
    font-size: 108px;
    font-style: normal;
    font-weight: 400;
    line-height: 125%; /* 135px */
    letter-spacing: 2.16px;
    padding: 0 8px;
    align-self: stretch;
    align-content: center;
    background-color: #FAFAFA;
}

.dayScheduleWrapperDay2 {
    display: flex;
    width: 68.33%;
    padding: 16px;
    align-items: center;
    gap: 16px;
    background: var(--Foundation-Green-green-500, #8EBF24);
}

.eventNameWrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 2px;
}

.eventHighlightCardDay3 {
    display: flex;
    width: 100%;
    align-items: center;
    /* gap: 8px; */
    align-self: stretch;
    background: var(--Foundation-Brown-brown-500, #BF9663);
}

.cardMonthDay3 {
    display: flex;
    width: 19.51%;
    padding: 16px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    gap: 8px;
    align-self: stretch;
    background: var(--Foundation-Brown-brown-500, #BF9663);
    color: var(--Foundation-White-white-500, #FAFAFA);
    text-align: right;
    font-family: "Bebas Neue";
    font-size: 57px;
    font-style: normal;
    font-weight: 400;
    line-height: 125%; /* 71.25px */
    letter-spacing: 1.14px;
}

.bigTextDay3 {
    color: var(--Foundation-Brown-brown-500, #BF9663);
    font-family: "Bebas Neue";
    font-size: 108px;
    font-style: normal;
    font-weight: 400;
    line-height: 125%; /* 135px */
    letter-spacing: 2.16px;
    padding: 0 8px;
    align-self: stretch;
    align-content: center;
    background-color: #FAFAFA;

}

.dayScheduleWrapperDay3 {
    display: flex;
    width: 73.19%;
    padding: 16px;
    align-items: center;
    gap: 16px;
    background: var(--Foundation-Brown-brown-500, #BF9663);
}

.buttonWrapper {
    display: flex;
    padding: 40px 0px 56px 0px;
    flex-direction: column;
    align-items: center;
    gap: 48px;
    align-self: stretch;
}

.ctaButton {
    display: flex;
    padding: 16px 40px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border-radius: 80px;
    background: var(--Foundation-Blue-blue-500, #186BD9);
}

.ctaButton:hover {
    background: #1661C5;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.2); /* Adds a subtle shadow */
}

/* speakers and organizations section */
.speakersAndOrganizations {
    display: flex;
    padding: 40px 0px 56px 0px;
    flex-direction: column;
    align-items: center;
    gap: 64px;
    align-self: stretch;
}

.speakerPhotosWrapper {
    display: flex;
    align-items: flex-start;
    gap: 24px;
}

.speakerProfile {
    display: flex;
    width: 21.93%;
    flex-direction: column;
    align-items: center;
    gap: 16px;
}

.imageProfileWrapper {
    height: 120px;
    width: 120px;
    border-radius: 999px;
    border: 4px solid var(--Foundation-Green-green-500, #8EBF24);
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.20);
    overflow: hidden;
}

.imageProfileWrapper img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: -18% 0;
}

#profileCropped {
    transform: scale(1.2);
    object-position: -15% 0;
}

.nameInfo {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
}

.nameInfo p {
    color: var(--Foundation-Black-black-500, #0A0A0A);
    text-align: center;
}

.separator {
    width: 26.81%;
    height: 2px;
    background: #186BD9;
}

.logosWrapper {
    display: flex;
    width: 69.17%;
    justify-content: center;
    align-items: flex-start;
    align-content: flex-start;
    gap: 24px 5.56%;
    flex-wrap: wrap;
}

.logosWrapper img {
    width: auto;
    height: 40px;
    flex-shrink: 0;
}

/* event location section */
.eventLocationSection {
    display: flex;
    width: 100%;
    padding: 32px 8.33%;
    justify-content: center;
    align-items: flex-start;
    gap: 24px;
    align-self: stretch;
}

.address {
    display: flex;
    width: 20.33%;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
}

#googleMap {
    width: 40.5%;
    height: 295px;
    border: 4px solid var(--Foundation-Blue-blue-500, #186BD9);
    overflow: hidden;
}





/* ---------- Footer Starts Here ---------- */
footer {
    display: flex;
    flex-wrap: wrap;
    margin-top: auto;
    width: 100%;
    height: 250px;
    padding: 32px 8.33%;
    justify-content: space-between;
    align-items: flex-start;
    font-family: "Nunito Sans", sans-serif;
    color: #FAFAFA; 
    background: var(--Foundation-Blue-blue-500, #186BD9);
}

footer p, footer p.overline, footer a {
    font-family: "Nunito Sans", sans-serif;
    color: #FAFAFA;
    text-decoration: none;
    text-underline-offset: 6px;
    transition: text-decoration 0.2s ease-in-out, text-underline-offset 0.2s ease-in-out;
}

footer a:hover {
    text-decoration: underline;
    text-underline-offset: 6px;
}

.logoCopyrightWrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    align-self: stretch;
}

.logoCopyrightWrapper img {
    height: 90px;
}

.footerLinks {
    display: flex;
    padding-left: 12px;
    align-items: flex-start;
    gap: 12px;
    align-self: stretch;
    border-left: 2px solid var(--Foundation-Green-green-500, #8EBF24);
}

.textWrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    align-self: stretch;
}

.eventTextWrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    align-self: stretch;
}

.footerEventInfoWrapper{
    display: flex;
    max-width: 13.13%;
    padding-left: 12px;
    align-items: flex-start;
    gap: 12px;
    align-self: stretch;
    border-left: 2px solid var(--Foundation-Green-green-500, #8EBF24);
}

.footerInfoWrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.address p {
    color: #0A0A0A;
}

/* ---------- Resposive Design Starts Here ---------- */
@media screen and (max-width: 600px) {
    
}