* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family: gandur-new, sans-serif;
    font-size: 16px;
    color: #000;
}

body {
    width: 100%;
    min-height: 100vh;
    background-color: #FAFAFA;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    color: var(--Foundation-Black-black-500, #0A0A0A);

    /* h1 - Title */
    font-family: "Bebas Neue";
    font-size: 80px;
    font-style: normal;
    font-weight: 400;
    line-height: 125%; /* 100px */
    letter-spacing: 1.6px;
}

h2 {
    color: var(--Foundation-Black-black-500, #0A0A0A);

    /* h2 - section */
    font-family: "Bebas Neue";
    font-size: 61px;
    font-style: normal;
    font-weight: 400;
    line-height: 125%; /* 76.25px */
    letter-spacing: 1.22px;
}

h3 {
    color: var(--Foundation-Black-black-500, #0A0A0A);

    /* h3 - subtitle */
    font-family: "Bebas Neue";
    font-size: 47px;
    font-style: normal;
    font-weight: 400;
    line-height: 125%; /* 58.75px */
    letter-spacing: 0.94px;
}

h4 {
    color: var(--Foundation-Black-black-500, #0A0A0A);

    /* h4 - heading */
    font-family: "Bebas Neue";
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    line-height: 125%; /* 45px */
    letter-spacing: 0.72px;
}

h5 {
    color: var(--Foundation-Black-black-500, #0A0A0A);

    /* h5 - subheading */
    font-family: "Bebas Neue";
    font-size: 27px;
    font-style: normal;
    font-weight: 400;
    line-height: 125%; /* 33.75px */
    letter-spacing: 0.54px;
}

h6 {
    color: var(--Foundation-Black-black-500, #0A0A0A);

    /* h6 - categories */
    font-family: "Bebas Neue";
    font-size: 21px;
    font-style: normal;
    font-weight: 400;
    line-height: 125%; /* 26.25px */
    letter-spacing: 0.42px;
}

p {
    color: var(--Foundation-Black-black-400, #3B3B3B);

    /* paragraph */
    font-family: "Nunito Sans";
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 125%; /* 22.5px */
    letter-spacing: 0.54px;
}

caption {
    color: var(--Foundation-Black-black-400, #3B3B3B);

    /* caption */
    font-family: "Nunito Sans";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 125%; /* 20px */
    letter-spacing: 0.48px;
}

.overline {
    color: var(--Foundation-Black-black-400, #3B3B3B);

    /* overline */
    font-family: "Nunito Sans";
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 125%; /* 17.5px */
    letter-spacing: 0.42px;
}

p.primaryButton {
    color: var(--Foundation-White-white-500, #FAFAFA);
    text-align: center;

    /* paragraph */
    font-family: "Nunito Sans";
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 125%; /* 20px */
    letter-spacing: 0.48px;
}

/* // <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 200 to 1000

.nunito-sans-<uniquifier> {
  font-family: "Nunito Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
    "wdth" 100,
    "YTLC" 500;
}

.bebas-neue-regular {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
} */

/* ---------- Header Starts Here! ---------- */
header {
    display: flex;
    width: 100%;
    padding: 16px 8.33%;
    justify-content: space-between;
    align-items: center;
    background: var(--Foundation-White-white-500, #FAFAFA);
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.10);
}

#logo {
    width: 64px;
    height: 74.148px;
}

.menuWrapper {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 24px;
}

#navCurrent {
    color: #186bd9;
    text-decoration: underline;
    text-underline-offset: 4px;
    text-decoration-thickness: 2px;
    text-decoration-color: #8ebf24;
}

.menuWrapper a {
    color: var(--Foundation-Black-black-500, #0A0A0A);
    text-align: right;
    text-decoration: none;
    text-transform: uppercase;

    /* paragraph */
    font-family: "Nunito Sans", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 125%; /* 20px */
    letter-spacing: 0.48px;
    transition: ease-in-out 40ms;
}

.menuWrapper a:hover {
    color: #8ebf24;
    transform: translateY(-4px);
}

.buyTicketButton {
    display: flex;
    padding: 8px 16px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border-radius: 999px;
    background: var(--Foundation-Blue-blue-500, #186BD9);
}

.buyTicketButton:hover {
    background: #1661C5;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.2); /* Adds a subtle shadow */
}



/* ---------- Main Content Starts Here ---------- */
h1 {
    color: var(--Foundation-Blue-blue-500, #186BD9);
}

.heroSection {
    display: flex;
    height: 273px;
    padding: 88px 8.33% 51px 8.33%;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
    align-self: stretch;
    background: linear-gradient(0deg, rgba(191, 150, 99, 0.25) 0%, rgba(191, 150, 99, 0.25) 100%), url(../img/patternBG.png) lightgray 50% / cover no-repeat;
    background-blend-mode: color, overlay;
}

.getTicketSection {
    display: flex;
    padding: 32px 15.42% 64px 15.42%;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
}

.contactSection {
    display: flex;
    padding: 32px 8.33% 64px 8.33%;
    justify-content: center;
    align-items: flex-start;
    gap: 240px;
    align-self: stretch;
}

.contactLeft {
    display: flex;
    width: 26.67%;
    flex-direction: column;
    align-items: center;
    gap: 32px;
}

.textFieldsCollection {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    align-self: stretch;
}

.textFieldsWrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    align-self: stretch;
}

.sendButton {
    display: flex;
    padding: 16px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border-radius: 999px;
    background: var(--Foundation-Blue-blue-500, #186BD9);
}

.sendButton:hover {
    background: #1661C5;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.2); /* Adds a subtle shadow */
}

.textFields {
    height: 32px;
    align-self: stretch;
    border: 1px solid var(--Foundation-Black-black-50, #E7E7E7);
    background: #FFF;
    box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.12);
}

.messageField {
    height: 141px;
    align-self: stretch;
    border: 1px solid var(--Foundation-Black-black-50, #E7E7E7);
    background: #FFF;
    box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.12);
}

.contactRight {
    display: flex;
    width: 15.35%;
    padding-left: 24px;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
    align-self: stretch;
    border-left: 4px solid var(--Foundation-Green-green-500, #8EBF24);
}

.contactRight a {
    color: #3B3B3B;
    text-decoration: none;
    text-underline-offset: 6px;
    transition: text-decoration 0.2s ease-in-out, text-underline-offset 0.2s ease-in-out;
}

.contactRight a:hover {
    text-decoration: underline;
    text-underline-offset: 6px;
}

.infoWrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
}

/* ---------- Footer Starts Here ---------- */
footer {
    display: flex;
    flex-wrap: wrap;
    margin-top: auto;
    width: 100%;
    height: 250px;
    padding: 32px 8.33%;
    justify-content: space-between;
    align-items: flex-start;
    font-family: "Nunito Sans", sans-serif;
    color: #FAFAFA; 
    background: var(--Foundation-Blue-blue-500, #186BD9);
}

footer p, footer p.overline, footer a {
    font-family: "Nunito Sans", sans-serif;
    color: #FAFAFA;
    text-decoration: none;
    text-underline-offset: 6px;
    transition: text-decoration 0.2s ease-in-out, text-underline-offset 0.2s ease-in-out;
}

footer a:hover {
    text-decoration: underline;
    text-underline-offset: 6px;
}

.logoCopyrightWrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    align-self: stretch;
}

.logoCopyrightWrapper img {
    height: 90px;
}

.footerLinks {
    display: flex;
    padding-left: 12px;
    align-items: flex-start;
    gap: 12px;
    align-self: stretch;
    border-left: 2px solid var(--Foundation-Green-green-500, #8EBF24);
}

.textWrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    align-self: stretch;
}

.eventTextWrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    align-self: stretch;
}

.footerEventInfoWrapper{
    display: flex;
    max-width: 13.13%;
    padding-left: 12px;
    align-items: flex-start;
    gap: 12px;
    align-self: stretch;
    border-left: 2px solid var(--Foundation-Green-green-500, #8EBF24);
}

.footerInfoWrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.address p {
    color: #0A0A0A;
}

/* ---------- Resposive Design Starts Here ---------- */
@media screen and (max-width: 600px) {
    
}